<article class="timeline-entry">
  <div class="timeline-entry-inner">
    <div class="timeline-icon bg-info">
      <i class="entypo-feather"></i>
    </div>

    <div class="timeline-label card horizontal">   
      <div class="card-image hide-on-small-only">
        <% if article.photo %>
          <%= image_tag article.photo.file_url %>
        <% end %>
      </div>

      <div class="card-stacked">
        <div class="card-content">
          <%= link_to article.materialized_path + "#nav-category",
            class: "black-text" do %>
            <span class="card-title"><%= article.title %></span>
          <% end %>
          <p class="teaser"><%= article.teaser %></p>
        </div>
        <div class="card-action">
          <%= link_to "Xem thêm",
            article.materialized_path + "#nav-category", class: "right" %>
        </div>
      </div>
    </div>
  </div>
</article>
