<div id="articles">  
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="timeline-centered">
          <%= render @articles %>
          <%= render @articles %>
          <%= render @articles %>
          <%= render @articles %>
          <%= render @articles %>
          <%= render @articles %>
          <%= render @articles %>
          <%= render @articles %>
          <%= render @articles %>
          <article class="timeline-entry begin">
            <div class="timeline-entry-inner">

                <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                    <i class="entypo-flight"></i> +
                </div>
            </div>
          </article>
        </div>
      </div>

      <div class="col-md-3 well">
        <h1>New things will be come here.</h1>
      </div>
    </div>
  </div>
</div>