<div id="article" class="panel">
  <div class="panel-heading article-header">
    <h2><%= @article.title %></h2>

    <span>
      <small>
        <i>
        <% if @article.author %>
          Được đăng bởi <%= @article.author %> vào lúc 
        <% end %>
        <%= @article.created_at.strftime("%d-%m-%Y") %>
        </i>
      </small>
    </span>
  </div>

  <div class="panel-body article-body">
    <%= @article.body.try(:html_safe) %>
  
    <div class="article-nav">
      <div class="prev-article pull-left">
        <% if @prev_article %>
          <%= link_to "Tin trước đó", @prev_article.materialized_path %>
        <% end %>
      </div>
      <div class="next-article pull-right">
        <% if @next_article %>
          <%= link_to "Tin tiếp theo", @next_article.materialized_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
