<%= title(@article.title) %>

<div id="article" class="card-panel">
  <div class="article-header">
    <h4><%= @article.title %></h4>

    <span>
      <small>
        <i>
        <% if @article.author %>
          Được chia sẻ bởi <strong><%= @article.author %></strong> vào 
        <% end %>
        <%= @article.created_at.strftime("%d-%m-%Y") %>
        </i>
      </small>
    </span>
  </div>

  <div class="article-body">
    <%= reverse_iframe_entities @article.body %>
  </div>

  <div class="article-nav">
    <div class="prev-article left">
      <% if @prev_article %>
        <%= link_to @prev_article.materialized_path + "#nav-category",
          class: "btn-floating white tooltipped waves-effect waves-red",
          data: { position: "right", tooltip: @prev_article.title } do %>
          <i class="material-icons black-text">arrow_back</i>
        <% end %>
      <% end %>
    </div>

    <div class="next-article right">
      <% if @next_article %>
        <%= link_to @next_article.materialized_path + "#nav-category",
          class: "btn-floating white tooltipped waves-effect waves-red",
          data: { position: "left", tooltip: @next_article.title } do %>
            <i class="material-icons black-text">arrow_forward</i>
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="action-bar card-panel">
  <div class="info-bar right">
  <div class="bar-block">
    <i class="material-icons left">remove_red_eye</i> 
    <span><%= @article.views %></span>
  </div>
  <div class="bar-block">
    <i class="material-icons left">comment</i> 
    <span class="fb-comments-count" 
      data-href="<%= article_url(id: @article.slug) %>">0</span>
  </div>
  <div class="bar-block">
    <i class="material-icons left">share</i> 
    <span id="fb-share-count"><%= @article.views / 10 %></span>
  </div>
  </div>

  <div class="fb-bar">
    <div class="bar-block">
      <div class="fb-like" data-href="<%= article_url(id: @article.slug) %>" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
    </div>
  </div>
</div>


<div class="comments">
  <%= render "shared/facebook_comments",
    full_url: article_url(id: @article.slug) %>
</div>

<style>
  .action-bar {
    margin-top: -15px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .bar-block {
    display: inline-block;
    margin: 15px;
  }
</style>
