<%= title(@article.title) %>

<div id="article" class="card-panel">
  <div class="article-header">
    <h4><%= @article.title %></h4>

    <span>
      <small>
        <i>
        <% if @article.author %>
          Được chia sẻ bởi <strong><%= @article.author %></strong> vào 
        <% end %>
        <%= @article.created_at.strftime("%d-%m-%Y") %>
        </i>
      </small>
    </span>
  </div>

  <div class="article-body">
    <%= @article.body.try(:html_safe) %>
  </div>

  <div class="article-nav">
    <div class="prev-article left">
      <% if @prev_article %>
        <%= link_to @prev_article.materialized_path + "#nav-category",
          class: "btn-floating white tooltipped waves-effect waves-red",
          data: { position: "right", tooltip: @prev_article.title } do %>
          <i class="material-icons black-text">arrow_back</i>
        <% end %>
      <% end %>
    </div>

    <div class="next-article right">
      <% if @next_article %>
        <%= link_to @next_article.materialized_path + "#nav-category",
          class: "btn-floating white tooltipped waves-effect waves-red",
          data: { position: "left", tooltip: @next_article.title } do %>
            <i class="material-icons black-text">arrow_forward</i>
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="comments">
  <%= render "shared/facebook_comments", full_url: article_url(@article) %>
</div>
