<%= content_for :current_category, @category.name %>
<%= title(@category.name) %>

<div class="articles row">
  <div class="card-panel center-align primary white-text">
    <i class="material-icons left white-text">bookmark</i>
    <%= @category.name %>
  </div>

  <%= render @articles, class: "s12 m6 l6" %>

  <div class="infinite-root center-align">
    <div class="preloader hide">
      <%= render "shared/circle_preloader" %>        
    </div>

    <div class="will-paginate hide">
      <%= will_paginate @articles %>
    </div>
  </div>
</div>
