<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield(:title) %>
      <% else %>
        Lựa chọn tốt cho bé - Trang review các sản phẩm cho mẹ và bé hàng đầu Việt Nam
      <% end %>
    </title>

    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Facebook -->
    <meta property="fb:app_id" content="1839213903025540" />
    <meta property="og:url" content="http://www.luachontotchobe.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Lựa chọn tốt cho bé" />
    <meta property="og:description" content="Lựa chọn tốt cho bé - Trang review các sản phẩm cho mẹ và bé hàng đầu Việt Nam" />
    <meta property="og:image" content="http://i.imgur.com/q4UkGh1.png" />
    <!-- End Facebook -->
  </head>

  <body>
    <div id="fb-root"></div>
    
    <nav>
      <div class="nav-wrapper">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "logo.png" %>
        <% end %>

        <%= form_tag search_path(anchor: "nav-category"), method: :get,
          id: "nav-search", class: "right hide" do %>
          <div class="input-field">
            <%= search_field_tag :q, params[:q], placeholder: "Tìm kiếm" %>
            <label for="q"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        <% end %>
        
        <ul class="right">
          <a href="#" id="icon-search"><i class="material-icons">search</i></a>
        </ul>
        </div>
      </div>
    </nav>
    
    <div id="banner" class="row">
      <div id="slide-default"  class="carousel carousel-slider col s12 m8 l8"
        data-indicators="true">
        <div class="carousel-item"><img src="https://irb.rocks/content/images/2015/10/assignments-1.png"></div>
        <div class="carousel-item"><img src="https://irb.rocks/content/images/2015/10/assignments-1.png"></div>
        <div class="carousel-item"><img src="https://irb.rocks/content/images/2015/10/assignments-1.png"></div>
        <div class="carousel-item"><img src="https://irb.rocks/content/images/2015/10/assignments-1.png"></div>
      </div>

      <div id="top-brands" class="col s12 m4 l4 hide-on-small-only">
        <img src="http://d2436y6oj07al2.cloudfront.net/assets/gsblog/2016/11/Top-30-03.jpg" class="responsive-img" >
      </div>

      <div id="lastest-articles" class="col s12 m12 l12">
        <div class="nav-slide-content sc-article-wrapper">
          <%= render partial: "spina/articles/second_article",
          collection: Spina::Article.limit(5), as: :article %>
          <%= render partial: "spina/articles/second_article",
          collection: Spina::Article.limit(5), as: :article %>
        </div>
        
        <div class="nav-slide-control">
          <a href="#" class="nav-slide nav-prev valign-wrapper" data-nav="prev">
            <i class="material-icons valign">navigate_before</i>
          </a>
          <a href="#" class="nav-slide nav-next valign-wrapper" data-nav="next">
            <i class="material-icons valign">navigate_next</i>
          </a>
        </div>
      </div>
    </div>
    
    <!-- For anchor -->
    <div id="nav-category"></div>
    <nav id="nav-category-root">
      <div class="nav-wrapper">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "logo.png" %>
        <% end %>
        
        <div class="center ">
          <span class="current-category hide-on-small-only">
            <% if content_for?(:current_category) %>
              <%= yield(:current_category) %>
            <% elsif current_page?("/") %>
              Trang chủ
            <% end %>
          </span>
          
          <!-- Button collapse -->
          <a href="#" data-activates="mobile-category" class="right button-collapse-always">
            <i class="material-icons">more_horiz</i>
          </a>

          <ul class="right hide-on-med-and-down">
            <li class="waves-effect waves-light 
              <%= 'active' if current_page?('/') %>">
              <%= link_to "Trang chủ", root_path %>
            </li>
            <% Spina::Category.live.each do |category| %>
              <li class="waves-effect waves-light 
                <%= 'active' if current_page?(category.to_uri) %>">
                <%= link_to category.name,
                  category_path(id: category.slug, anchor: "nav-category") %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <ul class="side-nav" id="mobile-category">
      <li>
        <div class="userView">
          <div class="background primary"></div>
          <%= link_to root_path do %>
            <%= image_tag "logo.png", class: "circle white" %>
          <% end %>
          <span class="white-text name">Lựa chọn tốt cho bé</span>
          <span class="white-text email">Trang review các sản phẩm cho mẹ và bé hàng đầu Việt Nam</span>

          <a href="#" class="hide-side-nav">
            <i class="material-icons white-text">close</i>
          </a>
        </div>
      </li>

      <li class="<%= 'active' if current_page?('/') %>">
        <%= link_to "Trang chủ", root_path %>
      </li>
      <% Spina::Category.live.each do |category| %>
        <li class="<%= 'active' if current_page?(category.to_uri) %>">
          <%= link_to category.name,
            category_path(id: category.slug, anchor: "nav-category") %>
        </li>
      <% end %>
    </ul>

    <% flash.each do |key, message| %>
      <%= javascript_tag do %>
        Materialize
          .toast('<%= message.html_safe %>', 4000, '<%= "toast-#{key}" %>');
      <% end %>
    <% end %>
    
    <main class="row">
      <div class="col s12 m12 l9"><%= yield %></div>

      <div class="col s12 m12 l3 sidebar">
        <div id="most-visited" 
          class="articles col s12 m12 l12">
          <div class="card-panel primary white-text">
            <i class="material-icons left">trending_up</i> Được quan tâm nhất
          </div>
          <%= render Spina::Article.most_visited, class: "s12 m6 l12" %>
        </div>

        <div id="facebook-page" class="col s12 m12 l12">
          <div class="card-panel primary white-text"><i class="material-icons left">public</i> Kết nối với chúng tôi</div>
          <div class="center-align">
            <div class="fb-page" data-href="https://www.facebook.com/luachontotchobe/" data-tabs="timeline" data-width="500" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/luachontotchobe/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/luachontotchobe/">Lựa chọn tốt cho bé - Review</a></blockquote></div>
          </div>
        </div>
      </div>  
    </main>

    <footer class="page-footer">
      <div class="footer-wrapper">
        <div class="container row">
          <div class="col s12 m6 l6">
            © 2017 Copyright. All rights reserved
          </div>

          <div class="col s12 m6 l6">
          <a class="grey-text text-lighten-4 right" href="#">Liên hệ</a>
          <a class="grey-text text-lighten-4 right" href="#">Điều khoản</a>
          <a class="grey-text text-lighten-4 right" href="#">Chính sách</a>
          <a class="grey-text text-lighten-4 right" href="#">Giới thiệu</a>
          </div>
        </div>
      </div>
    </footer>

    <div class="fixed-action-btn go-to-top">
      <a class="btn-floating btn-large primary waves-effect waves-light">
        <i class="large material-icons">arrow_upward</i>
      </a>
    </div>
  </body>
</html>
